
.blogs .blogs-slider .box{
    margin:2rem 0;
    border:var(--border);

    &:hover{
        border:var(--border-hover);
    }
    & .image{
        height: 25rem;
        width: 100%;
        overflow: hidden;

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &:hover .image img{
        transform: scale(1.1);
    }

    & .content{
        padding:1.5rem;

        & h3{
            font-size: 2.2rem;
            color:var(--black);
        }
        & p{
            font-size: 1.4rem;
            color:var(--light-color);
            padding:1rem 0;
            line-height: 2;
        }
    }
}
