

.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;

& :hover{
    border:var(--border-hover);
}

&.image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

& :hover .image{
    transform: translateY(6rem);
}

& .image img{
    height: 25rem;
}

& .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0;
    left:0; 
    right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

&:hover .icons{
    transform: translateY(0%);
}

& .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

& .icons a:hover{
    background:var(--green);
    color:#fff;
}

& .content{
    background:#eee;
    padding:1.5rem;
}

& .content h3{
    font-size: 2rem;
    color:var(--black);
}

& .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

& .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}
}